* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

h1 {
  display: inline;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  padding:40px 40px;
  background-color: rgb(53, 123, 166);
  color: white;
  margin-top: 40px;
}

.header {
  background-color: rgb(53, 123, 166);
  color: white;
  padding: 30px;
  display: flex;
  align-items: center;
  place-content: space-between;
}

.header .nav {
  display: inline;
  padding-left: 10px;
}

.nav ul {
  display: inline;
  list-style: none;
}

.nav ul li {
  display: inline;
  padding-left: 50px;
  }

.nav ul li :hover {
  color: orange;
}

.fitness {
  margin: 30px 40px;
  color: rgb(53, 123, 166);
}

.first-p-tag {
  margin-left: 40px;
}

.second-p-tag {
  margin-left: 40px;
}

span {
  color: rgb(53, 123, 166);
  font-weight: bold;
}

.membership a {
  color: orange;
  border: 3px solid orange;
  display: inline;
  padding: 20px;
  border-radius: 20px;
  margin-left: 40px;
  font-weight: bold;
}

.membership a:hover {
  background-color: orange;
  color: white;
}

.follow {
  color: rgb(53, 123, 166);
  margin: 20px 30px 20px 40px;
}

.instagram,
.facebook,
.youtube {
  display: inline-block;
  width: 200px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 4px 4px 20px grey;
}

.instagram {
  background-color: rgb(156, 58, 156);
  padding: 20px 60px;
  margin-left: 40px;
}

.instagram:hover {
  background-color: rgba(156, 58, 156, 0.8);
}
  
.facebook {
  background-color: rgb(52, 106, 255);
  padding: 20px 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.facebook:hover {
  background-color: rgba(52, 106, 255, 0.8);
}

.youtube {
  background-color: rgb(226, 59, 59);
  padding: 20px 70px;
  margin-right: 20px;
}

.youtube:hover {
  background-color: rgba(226, 59, 59, 0.8);
}

.testimonials {
  color: rgb(53, 123, 166);
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px
}

.testimonials img {
  border-radius: 50%;  
}

.testimonials-card {
  display: flex;
  border: 2px solid rgb(53, 123, 166);
  padding: 3rem 0.5rem;
  border-radius: 10px;
  box-shadow: 4px 4px 20px grey;
  justify-content: center;
}

.testimonials-links {
  display: grid;
  place-items: center;
}

.testimonials-links h4 {
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
  color: rgb(53, 123, 166);
}

.testimonials-links p {
  color: black;
  width: 28ch;
  text-align: center;
}

.features {
  text-decoration: none;
  color: white;
}

.features :hover {
  color: orange;
}

.gyms-menu {
  list-style: none;
}

.gyms-near-me p {
  font-weight: bold;
}

.gyms {
  list-style: none;
  margin-left: 20px
}

.gyms li :hover {
  color: orange;
}

.links {
  margin-top: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.links li :hover {
  color: orange;
}

.gym-cards-heading,
.about-us-heading {
  color: rgb(53, 123, 166);
  text-align: center;
  margin-top: 40px;
  font-size: 2rem;
}

.about-us-section p {
  width: 75ch;
  text-align: justify;
  line-height: 1.8;
  margin: 30px auto;
}

.gym-card-container {
  color: rgb(53, 123, 166);
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px
}

.gym-card-container img {
  border-radius: 50% 
}

.gym-card {
  display: flex;
  border: 2px solid rgb(53, 123, 166);
  padding: 3rem 0.5rem;
  border-radius: 10px;
  box-shadow: 4px 4px 20px grey;
  justify-content: center;
  width: 350px;
}

.gym-links {
  display: grid;
  place-items: center;
}

.gym-links h4 {
  text-align: center;
  font-size: 1.5rem;
  padding: 40px 20px 10px;
  color: rgb(53, 123, 166);
}

.gym-card h4:hover {
  text-decoration: underline;
  color: orange;
}